.articles {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 12px 12px ;
}

.articles td, table th {
  padding: 8px;
}

.articles tr:nth-child(even){background-color: #f2f2f2;}

.articles tr:hover {background-color: #ddd;}

.articles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
}
